* {
  box-sizing: border-box;
}

html,
body,
.app {
  height: 100vh;
  background: #eee;
  margin: 0 !important;
  padding: 0 !important;
}

.modal {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.messages {
  height: 55vh;
  overflow-y: scroll;
}

.message__form {
  position: fixed !important;
  margin-left: 320px !important;
  left: 0;
  right: 1rem;
  z-index: 200;
}

.message__self {
  border-left: 2px solid orange;
  padding-left: 8px;
}

.message__image {
  padding: 1rem;
}

.progress__bar {
  margin: 0.3rem 0 0 0 !important;
}

.menu {
  padding-bottom: 2rem;
}
